<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/src/style.css" rel="stylesheet" />
    <script type="module" src="/src/TS/components/icon_btn.ts"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="btn-box" class="flex gap-4"></div>
    <div class="relative">
      <div id="inventory-box"></div>
    </div>
    <div id="minigame-container"></div>
  </body>
</html>
