<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/src/style.css" rel="stylesheet" />
    <script type="module" src="/src/TS/components/move_btn.ts"></script>
    <title>search</title>
  </head>
  <body class="bg-black">
    <h1>방향키 컴포넌트</h1>
    <div id="room-background" class="room-background-style"></div>
    <div id="move-btn-box" class="relative w-full h-screen"></div>
  </body>
</html>
